
/* variable global */
/* :root{
    --ngjyrakryesore: pink;
    --madhsiaefontit: 55px;
}

h1{
    background-color: var(--ngjyrakryesore);
    font-size: var(--madhsiaefontit);
    text-align: var(--textalign);
}
/* variabla lokale */
 /* p{
    --textalign:center;
    text-align: var(--textalign);
}   */



